@import "../scss/_variables";

main {
}

.nav-bar {
  background-color: $primary;
}

.doc-button {
  padding: 10px;
  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: white;
    box-shadow: none;
  }
  &.btn-secondary:hover {
    background-color: $secondary-dark;
    border-color: $secondary-dark;
    color: white;
    box-shadow: none;
  }
  &.btn-secondary:focus {
    background-color: $secondary;
    border-color: $secondary;
    color: white;
    box-shadow: none;
  }
}
